# Diretório das IDE's
CursoLogica/Linguagens/C#/.vs
CursoLogica/Linguagens/.metadata
.idea/

# Arquivos descartáveis de lógica
CursoLogica/Linguagens/Python/Atividades/__pycache__
CursoLogica/Linguagens/Java/.settings
**/bin/
**/obj/


# Diretório de Python
CursoPython/venv

# Formatos de arquivos temporários/compilados
*.exe
*.o
*.depend
*.classpath