# Diretório das IDE's
CursoLogica/Linguagens/C#/.vs
CursoLogica/Linguagens/.metadata
.idea/

# Arquivos descartáveis de lógica
CursoLogica/Linguagens/Python/Atividades/__pycache__
CursoLogica/Linguagens/C/debugger/bin
CursoLogica/Linguagens/C/debugger/obj
CursoLogica/Linguagens/Java/bin
CursoLogica/Linguagens/Java/.settings

# Diretório de Python
CursoPython/venv

# Formatos de arquivos temporários/compilados
*.exe
*.o
*.depend
*.classpath