# Diretório das IDE's
CursoLogica/Linguagens/C#/.vs
CursoLogica/Linguagens/.metadata
.idea/

# Arquivos descartáveis de lógica
CursoLogica/Linguagens/Python/Atividades/__pycache__
CursoLogica/Linguagens/Java/.settings
**/.vs/
**/bin/
**/obj/

# Formatos de arquivos temporários/compilados
*.exe
*.o
*.depend
*.classpath